#post-comment-button{
  font-size: 2.0em;
  color: #fff;
  background-color: #cbf266;
  border-radius: 5px;
  padding: 10px 30px;
  width: 80%;
}
#button-area{
  text-align: center;
}

#text{
  text-align: justify;
  margin: auto;
  width: 90%;
}

#image{
  // height: 600px;
}
