#top{
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.button-area{
  text-align: center;
}
.button{
  font-size: 2.0em;
  color: #fff;
  background-color: #cbf266;
  border-radius: 5px;
  padding: 10px 30px;
  width: 300px;
}
