#top-button{
  font-size: 2.0em;
  color: #fff;
  background-color: #ffd1d1;
  border-radius: 5px;
  padding: 10px 30px;
  width: 80%;
}
#top-button-area{
  text-align: center;
}

#top{
  text-align: center;
  font-weight: bold;
  font-size: large;
}
