<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-img id="icon" src="../../assets/icon/icon.png"></ion-img></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="top">家族一覧</div>
  <div *ngIf="parentFlag">
    <ion-card *ngFor="let c of childList" button="true" routerLink="/self/3/{{c}}">
      <ion-card-content>{{c}}さん</ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!parentFlag">
    <ion-card *ngFor="let p of parentList" button="true" routerLink="/self/3/{{p}}">
      <ion-card-content>{{p}}さん</ion-card-content>
    </ion-card>
  </div>

  <div id=top-button-area>
    <button id="top-button" (click)="logout()">ログアウト</button>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="navigateToFamily()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
