// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

#icon{
  width: 32px;
  margin: auto;
}

/** base-green **/
:root {
  --ion-color-base-green: #cbf266;
  --ion-color-base-green-rgb: 203,242,102;
  --ion-color-base-green-contrast: #000000;
  --ion-color-base-green-contrast-rgb: 0,0,0;
  --ion-color-base-green-shade: #b3d55a;
  --ion-color-base-green-tint: #d0f375;
}
.ion-color-base-green {
  --ion-color-base: var(--ion-color-base-green);
  --ion-color-base-rgb: var(--ion-color-base-green-rgb);
  --ion-color-contrast: var(--ion-color-base-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-base-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-base-green-shade);
  --ion-color-tint: var(--ion-color-base-green-tint);
}

/** strong **/
:root {
  --ion-color-strong: #f28e66;
  --ion-color-strong-rgb: 242,142,102;
  --ion-color-strong-contrast: #000000;
  --ion-color-strong-contrast-rgb: 0,0,0;
  --ion-color-strong-shade: #d57d5a;
  --ion-color-strong-tint: #f39975;
}
.ion-color-strong {
  --ion-color-base: var(--ion-color-strong);
  --ion-color-base-rgb: var(--ion-color-strong-rgb);
  --ion-color-contrast: var(--ion-color-strong-contrast);
  --ion-color-contrast-rgb: var(--ion-color-strong-contrast-rgb);
  --ion-color-shade: var(--ion-color-strong-shade);
  --ion-color-tint: var(--ion-color-strong-tint);
}

/** ccpp **/
:root {
  --ion-color-ccpp-one: #EAF9C2;
  --ion-color-ccpp-one-rgb: 234,249,194;
  --ion-color-ccpp-one-contrast: #000000;
  --ion-color-ccpp-one-contrast-rgb: 0,0,0;
  --ion-color-ccpp-one-shade: #cedbab;
  --ion-color-ccpp-one-tint: #ecfac8;
}
.ion-color-ccpp-one {
  --ion-color-base: var(--ion-color-ccpp-one);
  --ion-color-base-rgb: var(--ion-color-ccpp-one-rgb);
  --ion-color-contrast: var(--ion-color-ccpp-one-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ccpp-one-contrast-rgb);
  --ion-color-shade: var(--ion-color-ccpp-one-shade);
  --ion-color-tint: var(--ion-color-ccpp-one-tint);
}

:root {
  --ion-color-ccpp-two: #DBF593;
  --ion-color-ccpp-two-rgb: 219,245,147;
  --ion-color-ccpp-two-contrast: #000000;
  --ion-color-ccpp-two-contrast-rgb: 0,0,0;
  --ion-color-ccpp-two-shade: #c1d881;
  --ion-color-ccpp-two-tint: #dff69e;
}
.ion-color-ccpp-two {
  --ion-color-base: var(--ion-color-ccpp-two);
  --ion-color-base-rgb: var(--ion-color-ccpp-two-rgb);
  --ion-color-contrast: var(--ion-color-ccpp-two-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ccpp-two-contrast-rgb);
  --ion-color-shade: var(--ion-color-ccpp-two-shade);
  --ion-color-tint: var(--ion-color-ccpp-two-tint);
}

:root {
  --ion-color-ccpp-three: #CBF266;
  --ion-color-ccpp-three-rgb: 203,242,102;
  --ion-color-ccpp-three-contrast: #000000;
  --ion-color-ccpp-three-contrast-rgb: 0,0,0;
  --ion-color-ccpp-three-shade: #b3d55a;
  --ion-color-ccpp-three-tint: #d0f375;
}
.ion-color-ccpp-three {
  --ion-color-base: var(--ion-color-ccpp-three);
  --ion-color-base-rgb: var(--ion-color-ccpp-three-rgb);
  --ion-color-contrast: var(--ion-color-ccpp-three-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ccpp-three-contrast-rgb);
  --ion-color-shade: var(--ion-color-ccpp-three-shade);
  --ion-color-tint: var(--ion-color-ccpp-three-tint);
}

:root {
  --ion-color-ccpp-four: #BCED35;
  --ion-color-ccpp-four-rgb: 188,237,53;
  --ion-color-ccpp-four-contrast: #000000;
  --ion-color-ccpp-four-contrast-rgb: 0,0,0;
  --ion-color-ccpp-four-shade: #a5d12f;
  --ion-color-ccpp-four-tint: #c3ef49;
}
.ion-color-ccpp-four {
  --ion-color-base: var(--ion-color-ccpp-four);
  --ion-color-base-rgb: var(--ion-color-ccpp-four-rgb);
  --ion-color-contrast: var(--ion-color-ccpp-four-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ccpp-four-contrast-rgb);
  --ion-color-shade: var(--ion-color-ccpp-four-shade);
  --ion-color-tint: var(--ion-color-ccpp-four-tint);
}


:root {
  --ion-color-ccpp-five: #A6DC13;
  --ion-color-ccpp-five-rgb: 166,220,19;
  --ion-color-ccpp-five-contrast: #000000;
  --ion-color-ccpp-five-contrast-rgb: 0,0,0;
  --ion-color-ccpp-five-shade: #92c211;
  --ion-color-ccpp-five-tint: #afe02b;
}
.ion-color-ccpp-five {
  --ion-color-base: var(--ion-color-ccpp-five);
  --ion-color-base-rgb: var(--ion-color-ccpp-five-rgb);
  --ion-color-contrast: var(--ion-color-ccpp-five-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ccpp-five-contrast-rgb);
  --ion-color-shade: var(--ion-color-ccpp-five-shade);
  --ion-color-tint: var(--ion-color-ccpp-five-tint);
}

/** python **/
:root {
  --ion-color-python-one: #C2F9D1;
  --ion-color-python-one-rgb: 194,249,209;
  --ion-color-python-one-contrast: #000000;
  --ion-color-python-one-contrast-rgb: 0,0,0;
  --ion-color-python-one-shade: #abdbb8;
  --ion-color-python-one-tint: #c8fad6;
}
.ion-color-python-one {
  --ion-color-base: var(--ion-color-python-one);
  --ion-color-base-rgb: var(--ion-color-python-one-rgb);
  --ion-color-contrast: var(--ion-color-python-one-contrast);
  --ion-color-contrast-rgb: var(--ion-color-python-one-contrast-rgb);
  --ion-color-shade: var(--ion-color-python-one-shade);
  --ion-color-tint: var(--ion-color-python-one-tint);
}

:root {
  --ion-color-python-two: #93F5AF;
  --ion-color-python-two-rgb: 147,245,175;
  --ion-color-python-two-contrast: #000000;
  --ion-color-python-two-contrast-rgb: 0,0,0;
  --ion-color-python-two-shade: #81d89a;
  --ion-color-python-two-tint: #9ef6b7;
}
.ion-color-python-two {
  --ion-color-base: var(--ion-color-python-two);
  --ion-color-base-rgb: var(--ion-color-python-two-rgb);
  --ion-color-contrast: var(--ion-color-python-two-contrast);
  --ion-color-contrast-rgb: var(--ion-color-python-two-contrast-rgb);
  --ion-color-shade: var(--ion-color-python-two-shade);
  --ion-color-tint: var(--ion-color-python-two-tint);
}

:root {
  --ion-color-python-three: #66F28E;
  --ion-color-python-three-rgb: 102,242,142;
  --ion-color-python-three-contrast: #000000;
  --ion-color-python-three-contrast-rgb: 0,0,0;
  --ion-color-python-three-shade: #5ad57d;
  --ion-color-python-three-tint: #75f399;
}
.ion-color-python-three {
  --ion-color-base: var(--ion-color-python-three);
  --ion-color-base-rgb: var(--ion-color-python-three-rgb);
  --ion-color-contrast: var(--ion-color-python-three-contrast);
  --ion-color-contrast-rgb: var(--ion-color-python-three-contrast-rgb);
  --ion-color-shade: var(--ion-color-python-three-shade);
  --ion-color-tint: var(--ion-color-python-three-tint);
}

:root {
  --ion-color-python-four: #35ED69;
  --ion-color-python-four-rgb: 53,237,105;
  --ion-color-python-four-contrast: #000000;
  --ion-color-python-four-contrast-rgb: 0,0,0;
  --ion-color-python-four-shade: #2fd15c;
  --ion-color-python-four-tint: #49ef78;
}
.ion-color-python-four {
  --ion-color-base: var(--ion-color-python-four);
  --ion-color-base-rgb: var(--ion-color-python-four-rgb);
  --ion-color-contrast: var(--ion-color-python-four-contrast);
  --ion-color-contrast-rgb: var(--ion-color-python-four-contrast-rgb);
  --ion-color-shade: var(--ion-color-python-four-shade);
  --ion-color-tint: var(--ion-color-python-four-tint);
}

:root {
  --ion-color-python-five: #13DC4C;
  --ion-color-python-five-rgb: 19,220,76;
  --ion-color-python-five-contrast: #000000;
  --ion-color-python-five-contrast-rgb: 0,0,0;
  --ion-color-python-five-shade: #11c243;
  --ion-color-python-five-tint: #2be05e;
}
.ion-color-python-five {
  --ion-color-base: var(--ion-color-python-five);
  --ion-color-base-rgb: var(--ion-color-python-five-rgb);
  --ion-color-contrast: var(--ion-color-python-five-contrast);
  --ion-color-contrast-rgb: var(--ion-color-python-five-contrast-rgb);
  --ion-color-shade: var(--ion-color-python-five-shade);
  --ion-color-tint: var(--ion-color-python-five-tint);
}

/** web **/
:root {
  --ion-color-web-one: #C2E9F9;
  --ion-color-web-one-rgb: 194,233,249;
  --ion-color-web-one-contrast: #000000;
  --ion-color-web-one-contrast-rgb: 0,0,0;
  --ion-color-web-one-shade: #abcddb;
  --ion-color-web-one-tint: #c8ebfa;
}
.ion-color-web-one {
  --ion-color-base: var(--ion-color-web-one);
  --ion-color-base-rgb: var(--ion-color-web-one-rgb);
  --ion-color-contrast: var(--ion-color-web-one-contrast);
  --ion-color-contrast-rgb: var(--ion-color-web-one-contrast-rgb);
  --ion-color-shade: var(--ion-color-web-one-shade);
  --ion-color-tint: var(--ion-color-web-one-tint);
}

:root {
  --ion-color-web-two: #93D9F5;
  --ion-color-web-two-rgb: 147,217,245;
  --ion-color-web-two-contrast: #000000;
  --ion-color-web-two-contrast-rgb: 0,0,0;
  --ion-color-web-two-shade: #81bfd8;
  --ion-color-web-two-tint: #9eddf6;
}
.ion-color-web-two {
  --ion-color-base: var(--ion-color-web-two);
  --ion-color-base-rgb: var(--ion-color-web-two-rgb);
  --ion-color-contrast: var(--ion-color-web-two-contrast);
  --ion-color-contrast-rgb: var(--ion-color-web-two-contrast-rgb);
  --ion-color-shade: var(--ion-color-web-two-shade);
  --ion-color-tint: var(--ion-color-web-two-tint);
}

:root {
  --ion-color-web-three: #66CAF2;
  --ion-color-web-three-rgb: 102,202,242;
  --ion-color-web-three-contrast: #000000;
  --ion-color-web-three-contrast-rgb: 0,0,0;
  --ion-color-web-three-shade: #5ab2d5;
  --ion-color-web-three-tint: #75cff3;
}
.ion-color-web-three {
  --ion-color-base: var(--ion-color-web-three);
  --ion-color-base-rgb: var(--ion-color-web-three-rgb);
  --ion-color-contrast: var(--ion-color-web-three-contrast);
  --ion-color-contrast-rgb: var(--ion-color-web-three-contrast-rgb);
  --ion-color-shade: var(--ion-color-web-three-shade);
  --ion-color-tint: var(--ion-color-web-three-tint);
}

:root {
  --ion-color-web-four: #35B9ED;
  --ion-color-web-four-rgb: 53,185,237;
  --ion-color-web-four-contrast: #000000;
  --ion-color-web-four-contrast-rgb: 0,0,0;
  --ion-color-web-four-shade: #2fa3d1;
  --ion-color-web-four-tint: #49c0ef;
}
.ion-color-web-four {
  --ion-color-base: var(--ion-color-web-four);
  --ion-color-base-rgb: var(--ion-color-web-four-rgb);
  --ion-color-contrast: var(--ion-color-web-four-contrast);
  --ion-color-contrast-rgb: var(--ion-color-web-four-contrast-rgb);
  --ion-color-shade: var(--ion-color-web-four-shade);
  --ion-color-tint: var(--ion-color-web-four-tint);
}

:root {
  --ion-color-web-five: #13A3DC;
  --ion-color-web-five-rgb: 19,163,220;
  --ion-color-web-five-contrast: #ffffff;
  --ion-color-web-five-contrast-rgb: 255,255,255;
  --ion-color-web-five-shade: #118fc2;
  --ion-color-web-five-tint: #2bace0;
}
.ion-color-web-five {
  --ion-color-base: var(--ion-color-web-five);
  --ion-color-base-rgb: var(--ion-color-web-five-rgb);
  --ion-color-contrast: var(--ion-color-web-five-contrast);
  --ion-color-contrast-rgb: var(--ion-color-web-five-contrast-rgb);
  --ion-color-shade: var(--ion-color-web-five-shade);
  --ion-color-tint: var(--ion-color-web-five-tint);
}

/** server **/
:root {
  --ion-color-server-one: #D1C2F9;
  --ion-color-server-one-rgb: 209,194,249;
  --ion-color-server-one-contrast: #000000;
  --ion-color-server-one-contrast-rgb: 0,0,0;
  --ion-color-server-one-shade: #b8abdb;
  --ion-color-server-one-tint: #d6c8fa;
}
.ion-color-server-one {
  --ion-color-base: var(--ion-color-server-one);
  --ion-color-base-rgb: var(--ion-color-server-one-rgb);
  --ion-color-contrast: var(--ion-color-server-one-contrast);
  --ion-color-contrast-rgb: var(--ion-color-server-one-contrast-rgb);
  --ion-color-shade: var(--ion-color-server-one-shade);
  --ion-color-tint: var(--ion-color-server-one-tint);
}
:root {
  --ion-color-server-two: #AF93F5;
  --ion-color-server-two-rgb: 175,147,245;
  --ion-color-server-two-contrast: #000000;
  --ion-color-server-two-contrast-rgb: 0,0,0;
  --ion-color-server-two-shade: #9a81d8;
  --ion-color-server-two-tint: #b79ef6;
}
.ion-color-server-two {
  --ion-color-base: var(--ion-color-server-two);
  --ion-color-base-rgb: var(--ion-color-server-two-rgb);
  --ion-color-contrast: var(--ion-color-server-two-contrast);
  --ion-color-contrast-rgb: var(--ion-color-server-two-contrast-rgb);
  --ion-color-shade: var(--ion-color-server-two-shade);
  --ion-color-tint: var(--ion-color-server-two-tint);
}

:root {
  --ion-color-server-three: #8E66F2;
  --ion-color-server-three-rgb: 142,102,242;
  --ion-color-server-three-contrast: #000000;
  --ion-color-server-three-contrast-rgb: 0,0,0;
  --ion-color-server-three-shade: #7d5ad5;
  --ion-color-server-three-tint: #9975f3;
}
.ion-color-server-three {
  --ion-color-base: var(--ion-color-server-three);
  --ion-color-base-rgb: var(--ion-color-server-three-rgb);
  --ion-color-contrast: var(--ion-color-server-three-contrast);
  --ion-color-contrast-rgb: var(--ion-color-server-three-contrast-rgb);
  --ion-color-shade: var(--ion-color-server-three-shade);
  --ion-color-tint: var(--ion-color-server-three-tint);
}

:root {
  --ion-color-server-four: #6935ED;
  --ion-color-server-four-rgb: 105,53,237;
  --ion-color-server-four-contrast: #ffffff;
  --ion-color-server-four-contrast-rgb: 255,255,255;
  --ion-color-server-four-shade: #5c2fd1;
  --ion-color-server-four-tint: #7849ef;
}
.ion-color-server-four {
  --ion-color-base: var(--ion-color-server-four);
  --ion-color-base-rgb: var(--ion-color-server-four-rgb);
  --ion-color-contrast: var(--ion-color-server-four-contrast);
  --ion-color-contrast-rgb: var(--ion-color-server-four-contrast-rgb);
  --ion-color-shade: var(--ion-color-server-four-shade);
  --ion-color-tint: var(--ion-color-server-four-tint);
}

:root {
  --ion-color-server-five: #4C13DC;
  --ion-color-server-five-rgb: 76,19,220;
  --ion-color-server-five-contrast: #ffffff;
  --ion-color-server-five-contrast-rgb: 255,255,255;
  --ion-color-server-five-shade: #4311c2;
  --ion-color-server-five-tint: #5e2be0;
}
.ion-color-server-five {
  --ion-color-base: var(--ion-color-server-five);
  --ion-color-base-rgb: var(--ion-color-server-five-rgb);
  --ion-color-contrast: var(--ion-color-server-five-contrast);
  --ion-color-contrast-rgb: var(--ion-color-server-five-contrast-rgb);
  --ion-color-shade: var(--ion-color-server-five-shade);
  --ion-color-tint: var(--ion-color-server-five-tint);
}

/** native **/
:root {
  --ion-color-native-one: #F9C2E9;
  --ion-color-native-one-rgb: 249,194,233;
  --ion-color-native-one-contrast: #000000;
  --ion-color-native-one-contrast-rgb: 0,0,0;
  --ion-color-native-one-shade: #dbabcd;
  --ion-color-native-one-tint: #fac8eb;
}
.ion-color-native-one {
  --ion-color-base: var(--ion-color-native-one);
  --ion-color-base-rgb: var(--ion-color-native-one-rgb);
  --ion-color-contrast: var(--ion-color-native-one-contrast);
  --ion-color-contrast-rgb: var(--ion-color-native-one-contrast-rgb);
  --ion-color-shade: var(--ion-color-native-one-shade);
  --ion-color-tint: var(--ion-color-native-one-tint);
}

:root {
  --ion-color-native-two: #F593D9;
  --ion-color-native-two-rgb: 245,147,217;
  --ion-color-native-two-contrast: #000000;
  --ion-color-native-two-contrast-rgb: 0,0,0;
  --ion-color-native-two-shade: #d881bf;
  --ion-color-native-two-tint: #f69edd;
}
.ion-color-native-two {
  --ion-color-base: var(--ion-color-native-two);
  --ion-color-base-rgb: var(--ion-color-native-two-rgb);
  --ion-color-contrast: var(--ion-color-native-two-contrast);
  --ion-color-contrast-rgb: var(--ion-color-native-two-contrast-rgb);
  --ion-color-shade: var(--ion-color-native-two-shade);
  --ion-color-tint: var(--ion-color-native-two-tint);
}

:root {
  --ion-color-native-three: #F266CA;
  --ion-color-native-three-rgb: 242,102,202;
  --ion-color-native-three-contrast: #000000;
  --ion-color-native-three-contrast-rgb: 0,0,0;
  --ion-color-native-three-shade: #d55ab2;
  --ion-color-native-three-tint: #f375cf;
}
.ion-color-native-three {
  --ion-color-base: var(--ion-color-native-three);
  --ion-color-base-rgb: var(--ion-color-native-three-rgb);
  --ion-color-contrast: var(--ion-color-native-three-contrast);
  --ion-color-contrast-rgb: var(--ion-color-native-three-contrast-rgb);
  --ion-color-shade: var(--ion-color-native-three-shade);
  --ion-color-tint: var(--ion-color-native-three-tint);
}

:root {
  --ion-color-native-four: #ED35B9;
  --ion-color-native-four-rgb: 237,53,185;
  --ion-color-native-four-contrast: #ffffff;
  --ion-color-native-four-contrast-rgb: 255,255,255;
  --ion-color-native-four-shade: #d12fa3;
  --ion-color-native-four-tint: #ef49c0;
}
.ion-color-native-four {
  --ion-color-base: var(--ion-color-native-four);
  --ion-color-base-rgb: var(--ion-color-native-four-rgb);
  --ion-color-contrast: var(--ion-color-native-four-contrast);
  --ion-color-contrast-rgb: var(--ion-color-native-four-contrast-rgb);
  --ion-color-shade: var(--ion-color-native-four-shade);
  --ion-color-tint: var(--ion-color-native-four-tint);
}

:root {
  --ion-color-native-five: #DC13A3;
  --ion-color-native-five-rgb: 220,19,163;
  --ion-color-native-five-contrast: #ffffff;
  --ion-color-native-five-contrast-rgb: 255,255,255;
  --ion-color-native-five-shade: #c2118f;
  --ion-color-native-five-tint: #e02bac;
}
.ion-color-native-five {
  --ion-color-base: var(--ion-color-native-five);
  --ion-color-base-rgb: var(--ion-color-native-five-rgb);
  --ion-color-contrast: var(--ion-color-native-five-contrast);
  --ion-color-contrast-rgb: var(--ion-color-native-five-contrast-rgb);
  --ion-color-shade: var(--ion-color-native-five-shade);
  --ion-color-tint: var(--ion-color-native-five-tint);
}

/** iot **/
:root {
  --ion-color-iot-one: #F9D1C2;
  --ion-color-iot-one-rgb: 249,209,194;
  --ion-color-iot-one-contrast: #000000;
  --ion-color-iot-one-contrast-rgb: 0,0,0;
  --ion-color-iot-one-shade: #dbb8ab;
  --ion-color-iot-one-tint: #fad6c8;
}
.ion-color-iot-one {
  --ion-color-base: var(--ion-color-iot-one);
  --ion-color-base-rgb: var(--ion-color-iot-one-rgb);
  --ion-color-contrast: var(--ion-color-iot-one-contrast);
  --ion-color-contrast-rgb: var(--ion-color-iot-one-contrast-rgb);
  --ion-color-shade: var(--ion-color-iot-one-shade);
  --ion-color-tint: var(--ion-color-iot-one-tint);
}

:root {
  --ion-color-iot-two: #F5AF93;
  --ion-color-iot-two-rgb: 245,175,147;
  --ion-color-iot-two-contrast: #000000;
  --ion-color-iot-two-contrast-rgb: 0,0,0;
  --ion-color-iot-two-shade: #d89a81;
  --ion-color-iot-two-tint: #f6b79e;
}
.ion-color-iot-two {
  --ion-color-base: var(--ion-color-iot-two);
  --ion-color-base-rgb: var(--ion-color-iot-two-rgb);
  --ion-color-contrast: var(--ion-color-iot-two-contrast);
  --ion-color-contrast-rgb: var(--ion-color-iot-two-contrast-rgb);
  --ion-color-shade: var(--ion-color-iot-two-shade);
  --ion-color-tint: var(--ion-color-iot-two-tint);
}

:root {
  --ion-color-iot-three: #F28E66;
  --ion-color-iot-three-rgb: 242,142,102;
  --ion-color-iot-three-contrast: #000000;
  --ion-color-iot-three-contrast-rgb: 0,0,0;
  --ion-color-iot-three-shade: #d57d5a;
  --ion-color-iot-three-tint: #f39975;
}
.ion-color-iot-three {
  --ion-color-base: var(--ion-color-iot-three);
  --ion-color-base-rgb: var(--ion-color-iot-three-rgb);
  --ion-color-contrast: var(--ion-color-iot-three-contrast);
  --ion-color-contrast-rgb: var(--ion-color-iot-three-contrast-rgb);
  --ion-color-shade: var(--ion-color-iot-three-shade);
  --ion-color-tint: var(--ion-color-iot-three-tint);
}

:root {
  --ion-color-iot-four: #ED6935;
  --ion-color-iot-four-rgb: 237,105,53;
  --ion-color-iot-four-contrast: #000000;
  --ion-color-iot-four-contrast-rgb: 0,0,0;
  --ion-color-iot-four-shade: #d15c2f;
  --ion-color-iot-four-tint: #ef7849;
}
.ion-color-iot-four {
  --ion-color-base: var(--ion-color-iot-four);
  --ion-color-base-rgb: var(--ion-color-iot-four-rgb);
  --ion-color-contrast: var(--ion-color-iot-four-contrast);
  --ion-color-contrast-rgb: var(--ion-color-iot-four-contrast-rgb);
  --ion-color-shade: var(--ion-color-iot-four-shade);
  --ion-color-tint: var(--ion-color-iot-four-tint);
}

:root {
  --ion-color-iot-five: #DC4C13;
  --ion-color-iot-five-rgb: 220,76,19;
  --ion-color-iot-five-contrast: #ffffff;
  --ion-color-iot-five-contrast-rgb: 255,255,255;
  --ion-color-iot-five-shade: #c24311;
  --ion-color-iot-five-tint: #e05e2b;
}
.ion-color-iot-five {
  --ion-color-base: var(--ion-color-iot-five);
  --ion-color-base-rgb: var(--ion-color-iot-five-rgb);
  --ion-color-contrast: var(--ion-color-iot-five-contrast);
  --ion-color-contrast-rgb: var(--ion-color-iot-five-contrast-rgb);
  --ion-color-shade: var(--ion-color-iot-five-shade);
  --ion-color-tint: var(--ion-color-iot-five-tint);
}
