<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="back"></ion-back-button>
    </ion-buttons>
    <ion-title>家族管理ページ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="top">申請</div>
  <div *ngIf="parentFlag">
    <div *ngFor="let a of applicantList">
      <ion-card>
        <ion-card-content>{{a}}さん</ion-card-content>
      </ion-card>
      <div class="button-area">
        <button class="ok" [id]="'okbar'+a" (click)=onOk($event)>許可する</button>
        <button class="no" [id]="'nobar'+a" (click)=onNo($event)>却下する</button>
      </div>
    </div>
  </div>
  <div *ngIf="!parentFlag">
    <div class="button-area">
      <form class="ion-padding" (submit)="apply()">
        <ion-item lines="full" class="ion-padding-bottom">
          <ion-label position="floating">家族登録を申請するID</ion-label>
          <ion-input required type="text" [(ngModel)]="id" name="id"></ion-input>
        </ion-item>
        <button type="submit" class="ok">家族登録を申請</button>
      </form>
    </div>
  </div>
</ion-content>
